@model IEnumerable<Online_Grocey.Models.UserStatus>

@{
    ViewData["Title"] = "UserStatusList";
}

<h1>UserStatusList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserStatuss)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserStatuss)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserStatusID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserStatusID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserStatusID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
