@model IEnumerable<Online_Grocey.Models.CustomerReview>

@{
    ViewData["Title"] = "CustomerReviewList";
}

<h1>CustomerReviewList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerRevieww)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerRevieww)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerReviewID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerReviewID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerReviewID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
